@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

/* arabic */
@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Dxxp8j-TMXf-llKur1b3OuCrCw.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Dxxp8j-TMXf-llKur1b8OuCrCw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(Dxxp8j-TMXf-llKur1byOuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ################################## LOGIN & PARAMETERS ################################## */

.login {
    -fx-background-image:url('/images/background_login.jpg');
}

.parameters {
    -fx-background-image:url('/images/background_parameters.png');
}

.label_parameters {
    -fx-font-family: 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 100 px;
    -fx-text-fill: #000000;
}

.field_pseudo{
    -fx-background-color: #DCDCDC;
    -fx-background-radius: 30px;
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 40px;
    -fx-prompt-text-fill: #989898;
}

.txt_pseudo{
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 40px;
}

.btn_connect_pseudo{
    -fx-background-radius: 49.5px;
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-background-color: #ECFB7B;
    -fx-font-size: 40px;
    -fx-effect: dropshadow( gaussian , #000000 , 0,0,6,6 );
}

.btn_disconnect {
    -fx-background-radius: 49.5px;
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-background-color: #DCDCDC;
    -fx-font-size: 25px;
    -fx-effect: dropshadow( gaussian , #000000 , 0,0,6,6 );
}

/* ################################## MAIN ################################## */

.main {
    -fx-background-image: url('/images/background_main.jpg');
}

.pseudo{
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 125px;
}

.id{
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 32px;
}

.list_users {
    -fx-background-color: #DCDCDC;
    -fx-font-family: 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 40px;
}

.list-cell:selected{
    -fx-background-color: #ECFB7B;
    -fx-text-fill: #000000;
}

.list-cell{
    -fx-background-color: #FFFFFF;
}

.btn_open_chat{
    -fx-background-radius: 49.5px;
    -fx-font-family : 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-background-color: #ECFB7B;
    -fx-font-size: 40px;
    -fx-effect: dropshadow( gaussian , #000000 , 0,0,6,6 );
}

/* ################################## CHAT ################################## */

.label_pseudo {
    -fx-font-family: 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 64px;
}

.search {
    -fx-background-color: #F88CD7;
    -fx-background-radius: 19px;
    -fx-prompt-text-fill: #333333;
}

.field_message {
    -fx-background-color: #F88CD7;
    -fx-background-radius: 20px;
    -fx-font-size: 30px;
    -fx-prompt-text-fill: #333333;
}

.labelMessageSender {
    -fx-fill: #F88CD7;
    -fx-font-family: 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 30px;
}

.labelMessageReceiver {
    -fx-fill: #000000;
    -fx-font-family: 'Jomhuria', 'cursive';
    -fx-font-style: normal;
    -fx-font-size: 30px;
}







